/* Monolithic CSS file was a lazy choice, but not worth the effort in splitting at this point  */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.currentDeckName{
  border: 5px solid black;
  /* height: 100px; */
  width: 350px;
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 4px;
  margin-top: 10px;
  font-size: 25px;
  color: white;
  text-align: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
}

.totalPoints{
  /* height: 100px; */
  width: 320px;
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.pointHoverInfo {
  position: relative;
  display: inline-block;
}

.pointHoverInfo .pointHoverInfoText {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 1px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: -80%;
  opacity: 0;
  transition: opacity 0.3s;
}

.pointHoverInfo:hover .pointHoverInfoText {
  visibility: visible;
  opacity: 1;
}

 /* The Modal (background) */
 .settings-modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.settings-modal-content {
  background-color: whitesmoke;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  color: black;
  z-index: 1;
  background-color: #282c34;
  border-radius: 10px;
  color: white
}

/* The Close Button */
.settings-modal-close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.settings-modal-close:hover,
.settings-modal-close:focus {
  color: red;
  font-size: 28px;
  text-decoration: none;
  cursor: pointer;
}

.bi-arrow-left-square:hover {
  color: red;
}

.bi-arrow-right-square:hover {
  color: red;
}

.starterHoverInfo {
  position: relative;
  display: inline-block;
}

.starterHoverInfo .starterHoverInfoText {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  left: 110%;
  opacity: 0;
  transition: opacity 0.3s;
}

.starterHoverInfo .starterHoverInfoText::after {
  content: "";
  position: absolute;
  top: 15%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}

.starterHoverInfo:hover .starterHoverInfoText {
  visibility: visible;
  opacity: 1;
}

.starterHoverInfo .starterHoverInfoHelpText {
  visibility: hidden;
  height: 600%;
  width: 150%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: -25%;
  opacity: 0;
  transition: opacity 0.3s;
}

.starterHoverInfo:hover .starterHoverInfoHelpText {
  visibility: visible;
  opacity: 1;
}

.flex-container {
  column-count:2;
  column-gap: 0%;
  column-width: 50%;
  width: 100%;
}

.cardHoverInfo {
  position: relative;
  display: inline-block;
}

.cardHoverInfo .cardHoverInfoText {
  visibility: hidden;
  width: 350px;
  height: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -160px;
  left: -190%;
  opacity: 0;
  transition: opacity 0.3s;
}

.cardHoverInfo:hover .cardHoverInfoText {
  visibility: visible;
  opacity: 1;
}

.currentDeckTankList {
  border: 5px solid black;
  height: 220px;
  width: 320px;
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 4px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 0px;
  column-gap: 6px;
}

.currentDeckTankListItem {
  border: 5px solid black;
  height: 80px;
  width: 55px;
  border-radius: 20px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 1px;
  margin-right: 0px;
  margin-left: 0px;
  font-size: 15px;
}

.currentDeckTankListItemHighlight {
  border: 5px solid black;
  height: 80px;
  width: 55px;
  border-radius: 20px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 1px;
  margin-right: 0px;
  margin-left: 0px;
  font-size: 15px;
  background: green;
}

.currentDeckTankListItem:hover {
  background: rgba(135, 206, 250, 0.500);
  color: #FFF;
}

.currentDeckTankListItem-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.currentDeckTankListItem-modal-content {
  background-color: white;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  background-color: #282c34;
  border-radius: 10px;
  color: white
}

.currentDeckTankListItem-change-selected {
  border: 3px solid red;
}

/* The Close Button */
.currentDeckTankListItem-modal-close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.currentDeckTankListItem-modal-close:hover,
.currentDeckTankListItem-modal-close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.statHoverInfo {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

.statHoverInfo .statHoverInfoText {
  visibility: hidden;
  height: 110%;
  width: 175%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -155%;
  left: -45%;
  opacity: 0;
  transition: opacity 0.3s;
}

.statHoverInfo:hover .statHoverInfoText {
  visibility: visible;
  opacity: 1;
}

.equipment-button {
  margin-bottom: 10px;
}

.crewSlots {
  border: 5px solid black;
  border-radius: 20px;
  width: 560px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding:1px;
}


.crewSlotsItem {
  border: 5px solid black;
  border-radius: 20px;
  background: lightgrey;
  width: 3.3em;
  height: 3.3em;
  margin: .15em;
  border-radius: 10px;
}

.crewSlot{
  white-space: normal;
  word-wrap: break-word;
  cursor: default;
}

.crewSlotButton{
  white-space: normal;
  word-wrap: break-word;
  cursor: default;
  border-color:green;
  border-radius: 5px;
  border-width: 4px;
  cursor: pointer;
}

.crewSlotButton-disable{
  white-space: normal;
  word-wrap: break-word;
  cursor: default;
  pointer-events: none;
  border-color:red;
  border-radius: 5px;
  border-width: 4px;
}

 /* The Modal (background) */
 .equip-modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.equip-modal-content {
  background-color: whitesmoke;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  z-index: 1;
  background-color: #282c34;
  border-radius: 10px;
  color: white
}

/* The Close Button */
.equip-modal-close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.equip-modal-close:hover,
.equip-modal-close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.equip-prompt-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.equip-prompt-content {
  background-color: whitesmoke;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  z-index: 1; /* Sit on top */
  background-color: #282c34;
  border-radius: 10px;
  color: white
}

/* The Close Button */
.equip-prompt-close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.equip-prompt-close:hover,
.equip-prompt-close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.equipHoverInfo {
  position: relative;
  display: inline-block;
}

.equipHoverInfo .equipHoverInfoText {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  left: 110%;
  opacity: 0;
  transition: opacity 0.3s;
}

.equipHoverInfo .equipHoverInfoText::after {
  content: "";
  position: absolute;
  top: 42%;
  right: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}

.equipHoverInfo:hover .equipHoverInfoText {
  visibility: visible;
  opacity: 1;
}

.equipSort {
  border: 5px solid black;
  /* height: auto; */
  width: auto;
  border-radius: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 1px;
  padding-right: 1px;
  margin: auto;
  margin-bottom: 5px
}

.equipSortItem {
  border: 5px solid black;
  height: 80px;
  width: 55px;
  border-radius: 20px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 1px;
  margin-right: 0px;
  margin-left: 0px;
  font-size: 15px;
}

.DisplayTanksEquipCardList{
  border: 5px solid black;
  height: auto;
  width: 390px;
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 4px;
  padding-top: 4px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 0px;
  column-gap: 6px;
  margin: auto;
  word-wrap: break-word;
}

.DisplayTanksEquipCardListItem{
  border: 5px solid black;
  height: 80px;
  width: 80px;
  border-radius: 20px;
  padding-right: 1px;
  padding-left: 1px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 1px;
  margin-right: 0px;
  margin-left: 0px;
  font-size: 15px;
}

.currentDeckDescription{
  border: 5px solid black;
  /* height: 100px; */
  width: 320px;
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.currentCardList {
  border: 5px solid black;
  /* height: 240px; */
  width: 340px;
  border-radius: 20px;
  padding-right: 1px;
  padding-left: 1px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 0px;
  column-gap: 2px;
}

.currentCardListItem {
  border: 5px solid black;
  height: 40px;
  width: 69px;
  border-radius: 20px;
  padding-right: 1px;
  padding-left: 1px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 1px;
  margin-right: 0px;
  margin-left: 2px;
  font-size: 11px;
  word-wrap:break-word;
}

.profileList {
  border: 5px solid black;
  /* height: 240px; */
  width: 320px;
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 4px;
  column-gap: 5px;
}

.profileListItem {
  border: 4px solid black;
  border-radius: 10px;
}

.profileListItemSelected {
  border: 4px solid red;
  border-radius: 10px;
}

.profileListItemCurrent {
  border: 4px solid green;
  border-radius: 10px;
}

.profile-button-group button {
  background-color: gray; /* Green background */
  border: 1px solid black; /* Green border */
  border-radius: 10px;
  margin-left: 4px;
  margin-right: 4px;
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.profile-button-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.profile-button-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.profile-button-group button:hover {
  background: rgba(135, 206, 250, 0.500);
}

.profile-button-new button:hover{
  background-color: #3e8e41;
}

.profile-button-delete button:hover{
  background: red
}

.card {
  border: 1px solid black;
  height: 300px;
  width: 180px;
  float: left;
  background-color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  border-radius: 20px;
}

.right-container {
  margin-left: 100px;
  padding-left: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

 .card-body {
  margin-top: 16px;
  width: 100px;
  padding-right: 20px;
  margin-right: 20px;
  padding-left: 20px;
 }

 .card-body > img
  {
  position:relative;
  height: 80px;
  width: 150px;
  animation: rotation 2s infinite linear;
  }

  @keyframes rotation {
  from {
  transform: rotate(0deg);
  }
  to {
  transform: rotate(359deg);
  }
 }